.row {
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 10px;

    & input[type="text"] {
        background-color: transparent;
        border-color: transparent;
        padding: 3px;
        max-width: 100px;
    }

    & input[type="number"] {
        min-width: 50px;
    }

    & input[type="date"] {
        min-width: max-content;
    }
}
