.header {
    width: 100%;
    padding: 10px 15px;
    margin: 15px 0;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;

    background-color: var(--surface-color);
    color: var(--on-surface-color);
    border-radius: 8px;

    filter: drop-shadow(2px 2px 3px #0e0e0e);
}

.buttonAddRow {
    display: flex;
    margin-left: auto;

    color: var(--on-primary-color);
    background-color: var(--primary-color);

    &:hover {
        transform: translateY(-5%);
    }
}

.buttonDelRoom {
    border: 1px solid transparent;

    &:hover {
        border-color: red;
        color: red;
    }
}
