.layout {
    width: 100%;
    height: 100%;
    background-color: var(--surface-color);
    color: var(--on-surface-color);

    filter: drop-shadow(2px 0 4px #0e0e0e);
}

.wrapper {
    position: relative;
}

.toggleButtonOpen {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    color: var(--on-surface-color);
    transition: all 0.4s ease;

    &::after {
        content: "<<";
    }

    &:hover {
        border-color: transparent;
        scale: 1.1;
    }

    &:focus {
        outline: none;
    }
}

.sidebarOpen {
    &.toggleButtonOpen::after {
        content: ">>";
    }
}
