:root {
    // colors
    --bg-color: #121212;
    --surface-color: #1d1d1d;
    --primary-color: #b385f2;
    --secondary-color: #07d9b2;

    --on-bg-color: #ebebeb;
    --on-surface-color: #e3e3e3;
    --on-primary-color: #38284c;
    --on-secondary-color: #001110;
    //

    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[data-theme="light"] {
    //colors
    --bg-color: #ebebeb;
    --surface-color: #e3e3e3;
    --primary-color: #b385f2;
    --secondary-color: #07d9b2;

    --on-bg-color: #121212;
    --on-surface-color: #1d1d1d;
    --on-primary-color: #38284c;
    --on-secondary-color: #001110;
    //

    transition: background-color 0.4s ease-in-out;

    & input,
    select {
        color: var(--on-surface-color);
        background-color: transparent;

        &:focus {
            background-color: var(--surface-color) !important;
            outline: none;
        }

        &:hover {
            background-color: var(--surface-color) !important;
        }

        &::placeholder {
            color: var(--on-surface-color);
        }

        &[type="checkbox"] {
            accent-color: rgb(245, 245, 245);
        }
    }
}

#root {
    width: 100%;
}

body {
    display: flex;
    min-height: 100vh;
}

button {
    border-radius: 8px;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: var(--surface-color);
    color: var(--on-surface-color);

    transition: all 0.4s ease-in-out;
}
